<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header section_heading">
                First Section
            </div>
            <div class="card-body">
                <div class="tree-wrapper">
                    <app-first-section [treeData]="nodes"></app-first-section>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header section_heading">
                Second Section
            </div>
            <div class="card-body">
                <app-second-section-bar-chart></app-second-section-bar-chart>
            </div>
        </div>
    </div>
    <br>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header section_heading">
                Third Section
            </div>
            <div class="card-body">
                <app-third-section></app-third-section>
            </div>
        </div>
    </div>
</div>